.icon {
	display: inline-block;
	fill: currentColor;
}

.icon-left-arrow {
	max-width: 100%;
	height: 100%;
}
.icon-phone {
	max-width: 100%;
	height: 100%;
}
.icon-right_arrow {
	max-width: 100%;
	height: 100%;
}
.icon-right_arrow_btn {
	max-width: 100%;
	height: 100%;
}
